
<section>
    <h1>MoPa Corporation</h1>
    <h2>Product Catalog</h2>
</section>
<section>
    <div>On this page the user can view the entire Product catalog and the list of Parts (BOM) that go into making it. It allows the user to add new Products, delete Products, and edit Product attributes and a Product's linked Parts.</div>
</section>
<br>
<section>
    <form id="addproduct" action="/products" method="POST">
        <fieldset>
            <legend>ADD NEW PRODUCT FORM</legend>
            <div>
                <label>Product Name:
                    <input type="text" name="product_name_input" size="30" maxlength="100">
                </label>
            </div>
            <div>
                <label>Manufacturing Time (Hours):
                    <input type="number" name="product_mfg_time_input" size="10" maxlength="20">
                </label>
            </div>
            <div>
                <label>Current Inventory:
                    <input type="number" name="product_inventory_input" size="10" maxlength="20">
                </label>
            </div>
            <div>
                <label>Target Retail Price:
                    <input type="number" step="0.01" name="part_target_price_input" size="10" maxlength="20">
                </label>
            </div>
            <br>
            <div>
                <input id="addproduct_submit" type="submit" name="submit_type" value="Add Product">
            </div>
            <br>
        </fieldset>
    </form>
    <br>
</section>
<section>
    <fieldset>
        <legend>PRODUCT CATALOG</legend>
        <table>
            <thead>
                <tr>
                    <th><b>Product ID Number</b></th>
                    <th><b>Product Name</b></th>
                    <th><b>Manufacturing Time (Hours)</b></th>
                    <th><b>Current Inventory</b></th>
                    <th><b>Target Retail Price</b></th>
                    <th><b>Cost</b></th>
                    <th><b>BOM</b></th>
                </tr>
            </thead>
            <tbody>
                {{#each products}} 
                <tr> 
                    <td>{{productID}}</td> 
                    <td>{{productName}}</td> 
                    <td>{{productMfgTimeHours}}</td> 
                    <td>{{productInventory}}</td>
                    <td>{{productSalePrice}}</td>
                    <td>{{productCost}}</td>
                    <td>
                        <ul>
                            {{#each bominfo}}
                            <li>{{part}} - (x{{qty}})</li>
                            {{/each}}
                        </ul>
                    </td>
                    <td>
                        <form id="updateproduct" action="/product_manager" method="GET">
                            <input type="hidden" name="productID" value={{productID}}>
                            <input id="updateproduct_submit" type="submit" value="Update Product/Edit BOM">
                        </form>
                    </td>
                    <td>
                        <form id="deleteproduct" action="/products" method="POST">
                            <input type="hidden" name="product_choice" value={{productID}}>
                            <input id="deleteproduct_submit" type="submit" name="submit_type" value="Delete Product">
                        </form>
                    </td>
                </tr> 
                {{/each}} 
            </tbody>
        </table>
        <br>
    </fieldset>
</section>
